.shelfCellStyle {
  width: 6vw;
  height: 8vh;
  margin: 4vh;
}

.shelfCellStyle.empty {
  width: 8vw;
  height: 8vh;
  margin: 4vh;
  background-image: none;
}

/* .shelfCellStyle {
  width: 30%;
  height: 40%;
  margin: 10%;
}

.shelfCellStyle.empty {
  width: 30%;
  height: 40%;
  margin: 10%;
  background-image: none;
} */
